@import '../../../colors.scss';

.profileContainer {
    display: flex;
    justify-content: center;
    height: 3em;
}
form {
    display: flex;
    flex-direction: column;
    img {
        width: 10em !important;
        height: 10em !important;
        border-radius: 50%;
        cursor: pointer;
    }
}
Button {
        margin: 1em 25em 0 !important;
        width: 10em !important;
        color: white;
        background-color: $Dark !important;
         
}



h4{
text-align: left;
}

label[for="file-input"] {
  margin: 0
}
.image-upload>input {
    display: none;
  }