@import '../../../colors.scss';

.profileContainer {
    display: flex;
    justify-content: center;
    height: 3em;
    min-height: 75.5vh;
    .ant-card-body {
        display: flex;
        justify-content: center;
    }

}
form {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0;
    // .MuiFormControl-root {
    //     padding: 0;
    //     width: 100%;
    // }

    img {
        width: 10em !important;
        height: 10em !important;
        border-radius: 50%;
        border: black solid;
        cursor: pointer;
    }
}
Button {
      justify-self: center;
        width: 10em !important;
        color: white;
        background-color: $Dark !important;  
        align-self: center; 
          
}
.bubbly-button {
    margin: 2.5em !important;
}



h4{
align-self: flex-start;
}

label[for="file-input"] {
  margin: 0
}
.image-upload>input {
    display: none;
  }