.dogos {
    height: 88.5vh;
    background-image: url('https://i.pinimg.com/564x/04/b6/14/04b61445914c10b0c5bd149ed29fbf10.jpg');
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
}