.dogs {
    min-height: 75.5vh;
}
        button {
            width: 2em;
        }
.dogo {
    margin: 2em;
    
}

@media (max-width: 600px){

}
.dogs {
    display: flex;
    flex-wrap: wrap;
     
}

