@import '../../../colors.scss';

.postDogContainer{
    height: 90.5vh;
    background-image: url('https://i.pinimg.com/564x/04/b6/14/04b61445914c10b0c5bd149ed29fbf10.jpg');
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 40vh;
        align-items: center;
        input{
            
        min-width: 35vw;
        }
        button{
            margin-top: 3em;
            background-color: $Dark;
            width: 50%;
        }
      
    }
}

[type="file"]+label {
    margin: 5px;
    color: white;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #9A48E8;
    border-color: #d9d9d9;
}

[type="file"]+label :hover {
    transition: 1s;
    color: white;
    background: #9A48E8;
}

[type="file"] {
    margin: 5px;
    height: 0;
    overflow: hidden;
    width: 0;
}