@import '../../../colors.scss';

.postDogContainer{
    height: 90.5vh;
    background-image: url('https://i.pinimg.com/564x/04/b6/14/04b61445914c10b0c5bd149ed29fbf10.jpg');
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 40vh;
        align-items: center;
        input{
            
        min-width: 35vw;
        }
        button{
            margin-top: 3em;
            background-color: $Solid;
            width: 50%;
        }
      
    }
}

