.userData {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    Button {
        margin: 1em !important;
    }
}
.mypets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dog {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
    width: 50%;
    
    
}
.cat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;

}

@media (max-width: 600px){
    .userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190vh;
    width: 55h;
    }
    .mypets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cat{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
.dog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer {
    display: none !important;
}
}