.cato {
    
margin: 2em
}
.cats {
    display: flex;
    flex-wrap: wrap;
    min-height: 75.5vh;
}

.ant-card-body {
    color: white !important;
    // font-size: larger;
}

img {
    height: 25em !important;
}