.containersearch {
    display: flex;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/sjy7AUJ.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 10em;
}


.ant-input-search-enter-button + .ant-input-group-addon, .ant-input-search-enter-button input + .ant-input-group-addon {
    opacity: 0;
}

.ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
    background-color: black;
    color: white !important;
    width: 200%;
    height: 5em;
}