@import '../../../colors.scss';
.loginContainer{
    background-image: url(https://i.pinimg.com/564x/01/43/5b/01435bca4df1cee2816e7dc018f5db03.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90.5vh;
    height: 100%;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 40vh;
        align-items: center;
        input{
           
        min-width: 35vw;
        }
    
    }
}


@media (max-width: 600px){
    .loginContainer {
        background-position: left;
        background-size: 10em;
        background-position-y:top ;
      display: flex;
    
      height: 50%;
    }
    }