@import '../../../colors.scss';

.messages {
    display: flex;
    justify-content: center;
    margin: 3em;
    .cardcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color: black;
    }
    .ant-card-body {
        background-color: $gray;
        height: 4em;
        border-left: solid black;
    }
}

.empty {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52em;
   
}

.extramenu {
    display: flex;
    justify-content: space-evenly;
    margin: 3em;
}
