@import '../../../colors.scss';

.messages {
    display: flex;
    justify-content: center;
    
    margin: 3em;
    .cardcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color: black;
    }
    .ant-card-body {
        background-color: $gray;
        width: 110%;
        height: 4em;
        border-left: solid black;
    }
}

.empty {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52em;
   
}

.littlemenu {
    display: flex;
    justify-content: space-evenly;
    margin: 3em;
}

@media (max-width: 600px) {
    .littlemenu {
        padding: 0 ;
    }
    .ant-card-body {
        // width: 15em !important;
        .daate {
            display: flex;
            display: none;
        }
  
    }

}