@import '../../../colors.scss';

.message {
 display: flex;
 justify-content: center;
 
 
    .messagerec {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: black;
        div {
            padding: 0.5em;
           
        }
    }
    .ant-card-body {
        background-color: $gray;
        height: 100%;
    }
}
.name{
    display: flex;
    align-items: center;
    justify-self: start;
    align-self: flex-start;
    h3 {
        margin: 1em;
    }
}
.date{
 
    align-self: flex-end;
        
}
.messa{
   margin: 0 7.5em;
    align-self: flex-start;
        
}
.imagepro{
    justify-self: start;
    align-self: flex-start;
    height: 6em !important;
    width: 6em !important;
    border-radius: 50%;
}
.ant-modal-confirm .ant-modal-confirm-btns {
    display: flex;
    justify-content: center;
    float: none;
}

.cont {
    min-height: 75.5vh;
}