.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background-color: black;
    color: white;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    height: 15vh;
}