@import '../../colors.scss';
.header {
    height: 5em;
    color: black;
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        width: 2em;
        height: 2em !important;
    }
    a {
        all: unset;
        cursor: pointer;
        padding: 3em;
        &:hover {
            color: $Solid;
        }

    }
    span {
        cursor: pointer;

    }
    .isActive {
        text-decoration: underline;
        color: $Solid;
    }
    .userZone {
        padding: 1em;
    }
}

.ant-menu-item,
.ant-menu-submenu-title {
    color: $Dark !important;
}