.catDog{
display: flex;
justify-content: center;
align-items: center;
}
        .profilePhoto {
            width: 15em;
            height: 15em !important;
            border-radius: 50%;
        }

.ant-card-body {
height: 8em;
}


